:root{
  font-size: 16px;
}
@media only screen and (max-width:768px) {
  :root{
    font-size: 12px;
  }
  
}
/* Header*/
a.navbar-brand {
  margin: 0px;
  padding: 0px;
}

.navbar-brand img {
  height: 50px;
}

nav.navbar {
  border-bottom: 1px solid #fff;
  background-color: black;
}
/* Header end*/
body > .container {
  padding: 96px 15px 0;
}
/*Footer*/
.footer {
  min-height: 50px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}
.footer p {
    padding: 15px;
    margin: 0px;
}
/*Footer end*/
/*Main Container*/
.main_container{
  margin: 0 auto;
  min-height: 30.5rem;
}
/*Main Container end*/
/*Team Card*/
.card{
  border: none;
}
img.card-img-top {
  width: 150px;
  height: 150px;
}
/*Team Card end*/

.card{
  border: none;
}
.display-4{
  font-size: 2rem;
}
li{
  list-style-type: none;
}

/* panel css */
.panel-body div {
  display: inline-block;
  text-align: center;
  margin: 0px 50px;
}
.panel-body {
    text-align: center;
}
.panel-body .match-details {
    min-width: 200px;
    margin: 0 20px;
    vertical-align: middle;
}
.team-logo{
  max-height: 120px;
  max-width: 120px;
  display: inline-block;
  margin: 0px 50px;
}


.panel-body img, .panel-body div {
  margin: 0 2%;
  max-width: 120px;
}
.display-4 {
  font-weight: bold;
  font-size: 1.3rem;
}
.match-details p {
  margin: 0 auto;
}
.match-details .match-time {
  font-size: 1.2rem;
}
.match-date {
    color: grey;
}
.match-venue{
  font-size: 0.9rem;
  font-weight: bold;
}
.match-winner span {
    font-weight: 900;
}
.panel {
  transition: box-shadow .3s;
}
.panel:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.2); 
}
@media only screen and (max-width: 768px){
  .panel .panel-body .match-details {
    width: 100px;
    margin: 0 6px;
    min-width: auto;
  }
  .panel-body .team-logo{
    width: 50px;
  }
  .panel .panel-body div.tip-percent{
    margin: 0;
  }
  .tip-percent p{
    font-size: 0.9rem;
  }
  .match-venue{
    font-size: 0.9rem;
    font-weight: normal;
  }
}
/* panel css end */


/* style css */
.select-team a {
  color: #232222;
}
.hero-image {
    background-color: black;
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 22%;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    width: 80%;
    display: inline-block;
  }
  .homepage .hero-text h1{
    font-size: 4vw;
  }
  .hero-text h1{
    font-size: 5vw;
  }
  .display-3{
    font-size: 1.5rem;
    display: inline;
  }

.hero-text p a {
    color: #fff;
    text-decoration: underline;
}
.hero-text p, .hero-text p a {
    font-size: 1.5vw;
}
.year-dropdown{
  display: inline;
}
.year-dropdown select {
  height: 2.4rem;
  font-size: 1rem;
  color: #353434;
  text-align: center;
  text-align-last: center;
  vertical-align: bottom;
}
.year-dropdown select:focus{
  border: none;
}
.team-landing .container a{
  color: #232222;
}
/* Mobile Styles */
@media only screen and (max-width: 768px){
  .hero-image { 
      padding-top: 50% !important; 
  }
  .hero-image .banner-dd {
    top: 55px;
  }

  .hero-image .banner-dd select {
      margin-bottom: 1%;
      width: 200px;
  }
  .homepage .hero-text h1{
    font-size: 6vw;
  }
  .hero-text h1{
    font-size: 10vw;
  }
  .hero-text p, .hero-text p a{
    font-size: 3vw;
  }
  .team-landing .hero-text {
    top: 80%;
  }

  .team-landing .panel {
      margin-top: 20px;
  }
  .team-landing .hero-text h1{
    font-size: 9vw;
    padding-right: 0 !important;
  }
  .select-team .display-4 {
    text-align: center;
  }
}

/* Homepage CSS */
.homepage .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/assets/football2.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* background-image: url('football2.jpg'); */
  padding-top: 29%;
}

.homepage .hero-text {
  text-align: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  width: 80%;
}
.panel.panel-default {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  border-color: #ddd;
  padding: 20px 0px;
}

/* style css  end*/

/* Standings */
@media only screen and (max-width:768px){
  .desktop-only{
      display: none;
  }
  table td, table th {
      padding:0.5rem;
  }
}

.standings{
  margin-top: 10px;
}
/* Standings end*/
.rounds-toolbar{
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-left: 0;
}
.rounds-toolbar::-webkit-scrollbar{
  display: none;
}
.rounds-toolbar li{
  padding:0;
  text-align: center;
}

.rounds-toolbar input[type="radio"] {
  display: none;
}


.rounds-toolbar label {
  background-color: #fff;
  cursor: pointer;
  margin-top: 1rem;
  color: #353434;
  height: 1.5rem;
  width: 1.5rem;
}

.rounds-toolbar label:hover {
  font-weight: bolder;
  color: black;
}

.rounds-toolbar input[type="radio"]:checked+label {
  background-color: rgb(22, 187, 77);
  border-radius: 4rem;
  color: #fff;
}
.teams-toolbar input[type="radio"] {
  display: none;
}
.teams-toolbar label img {
  height: 2.1rem;
  width: 2.1rem;
   cursor: pointer;
  margin-top: 1rem;
}
.teams-toolbar{
  padding: 0;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.teams-toolbar::-webkit-scrollbar{
  display: none;
}
.teams-toolbar li{
  padding: 0 0.3rem;
  min-height: 4.5rem;
}
.teams-toolbar label img:hover {
  height: 2.5rem;
  width: 2.5rem;
}

.teams-toolbar input[type="radio"]:checked + label > img{
  height: 2.5rem;
  width: 2.5rem;
}

.match-filter{
  display: block;
  text-align: center;
  top:1rem;
  margin-bottom: 1.2rem;
}
.match-filter .btn{
  background-color: #fff;
  color:#000;
  font-weight: bold;
  border-radius: 0;
}

.match-filter img{
  height:2rem;
  width:2rem
}
/* Team Landing Page */

.hero-text h1{
  display: inline-block;
}
.banner-logo{
  max-width: 120px;
  max-height: 120px;
  margin: 20% 0%;
}
.team-logo-banner {
  display: inline-block;
  height: 14rem;
  width: 14rem;
  background: #fff;
  border-radius: 100px;
  vertical-align: middle;
}

.hero-text h1 {
  padding-right: 3%;
}
@media only screen and (max-width:768px) {
  .team-landing .hero-text{
    top: 80%;
  }
  .team-logo-banner {
    display: block;
    margin: auto;
  }

}
  

/* aside{
  float: right;
  width: 40%;
  display: inline-block;
}

.team-landing-content {
  display: inline-block;
}

.team-games-section {
  display: inline-block;width: 60%;
} */
